<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dagobah Depot</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jass.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <img src="/images/Dagobah.jpg" alt="Dagobah" width="50" height="50">
        <a href="/">Dagobah Depot</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a>
        <a href="/checkout">Checkout</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a> |
        {{!-- added checkout here for testing before login route is connected --}}
        {{!-- <a href="/checkout">Checkout</a> | --}}
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
      {{#each js}}
        <script src="/js/{{this}}"></script>
      {{/each}}
    </main>
    <footer>
      <button class="no-button" onclick="theForce()"><img src="/images/star-wars-yin-yang.webp" alt="yingyang" width="50" height="50"></button>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../public/js/logout.js"></script>
  {{/if}}
  {{!-- darkmode switch --}}
  <script>
  function theForce() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
</body>

</html>
