<div class='K2-grid coll-3 icon-p-2'>
<h2> Choose A Category: </h2>       
<ul>
<li>
    <a href='#' title='All'>
    <span>All<span></a>
</li>
<li>
    <a href='#' title='Clothing'>
    <span>Clothing</span></a>
</li>
<li>
    <a href='#' title='Games'>
    <span>Games</span></a>
</li>   
<li>
    <a href='#' title='Movies/TV'><span>Movies/TV</span></a>
</li>
<li>
    <a href='#' title='Books/Comics'>
    <span>Books/Comics</span></a>
</li>
<li>
    <a href='#' title='Random'>
    <span>Random</span></a>
</li>
</ul>
</div>