<!-- this page is only for testing -->
<div class="row">
  <div class="col-md-6">
    <h2>Checkout</h2>

<body>
    <button type="button">click me!</button>


    <script src="../public/js/script.js"></script>
</body>
  
