<!-- this page is for when in posted items, they press "purchase this item" -->
<div class="row">
  <div class="col-md-6">
    <h2>Checkout</h2>

  <button class="btn btn-primary">click me!</button>

<script src="/js/script.js"></script>


