header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/*  */

/* body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
} */

.dark {
  --main-background: hsl(230, 17%, 14%);
  --main-font: white;
}

.light {
  --main-background: white;
  --main-font: hsl(230, 17%, 14%);
}

body {
  background: var(--main-background);
  color: var(--main-font);
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.toggle-switch p {
  padding: 1em;
}